<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
        <add key="uri" value="http://production.shippingapis.com/ShippingAPI.dll?API=CityStateLookup&amp;XML="/>
        <!-- key UserID moved to environment variable UspsUserID per 12Factor App recommendation -->
        <add key="UserID" value=""/> <!-- You can obtain a USPS API UserID at https://www.usps.com/business/web-tools-apis/welcome.htm -->
        <add key="RequestFile" value="CityStateLookupRequest.xml"/>
    </appSettings>
</configuration>